In [2]:
# Create a tuple with integers from 1 to 5.
tup = (1,2,3,4,5)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [4]:
# Access the third element of a tuple.
tup = (1,2,3,4,5,6,7,)
print("third element : ",tup[2])

third element :  3

In [7]:
# Find the length of a tuple without using the `len()` function.
my_tuple = (1,2,3,4,5,6,7,8)
count = 0
for i in my_tuple:
    count += 1;
print("Length of the tuple :",count)

Length of the tuple : 8

In [9]:
# Count the occurrences of an element in a tuple.
my_tuple = (1, 2, 3, 4, 2, 6, 7, 8, 2)
element = 2 
occurrences = my_tuple.count(element)
print(f"The element {element}  occurs {occurrences}  time in the tuple .")

The element 2  occurs 3  time in the tuple .

In [19]:
# Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 2, 6, 7, 8, 2,4) 
element = 4
count = -1
for x in my_tuple:
    count += 1 
    if (x == element): 
        break

print(f"The {element}  index of :",count)

The 4  index of : 3

In [17]:
# Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 2, 6, 7, 8, 2)
element = 2 
occurrences = my_tuple.index(element)
print(f"The element {element}  is at index {occurrences} in the tuple .")

The element 2  is at index 1 in the tuple .

In [20]:
# Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 2, 6, 7, 8, 2,4) 
element = 4
if element in my_tuple:
    print(f"{element } is exists in the tuple .")
else:
    print(f"{element } is not exists in the tuple .")

4 is exists in the tuple .

In [21]:
# Convert a tuple to a list.
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print("Tuple :",my_tuple)
print(type(my_tuple))
print("List :",my_list)
print(type(my_list))

Tuple : (1, 2, 3, 4, 5)
<class 'tuple'>
List : [1, 2, 3, 4, 5]
<class 'list'>

In [22]:
# Convert a list to a tuple.
my_list = [1,2,3,4,5]
my_tuple = tuple(my_tuple)
print("List :",my_list)
print(type(my_list))
print("List :",my_tuple)
print(type(my_tuple))

List : [1, 2, 3, 4, 5]
<class 'list'>
List : (1, 2, 3, 4, 5)
<class 'tuple'>

In [24]:
# Unpack the elements of a tuple into variables.
my_tuple = (1,2,3)
a, b, c = my_tuple
print("a:",a)
print("b:",b)
print("c:",c)

a: 1
b: 2
c: 3

In [27]:
# Create a tuple of even numbers from 1 to 10.
my_tuple = tuple(range(1,11,2))
print(my_tuple)

(1, 3, 5, 7, 9)

In [28]:
# Create a tuple of odd numbers from 1 to 10.
my_tuple = tuple(range(1,11,2))
print(my_tuple)

(1, 3, 5, 7, 9)

In [31]:
# Concatenate two tuples.
tup1 = (1,2,3)
tup2 = (4,5,6)
concatenate = tup1 + tup2
print("Tuple 1 :",tup1)
print("Tuple 2 :",tup2)
print("Concatenate Tuple :",concatenate)

Tuple 1 : (1, 2, 3)
Tuple 2 : (4, 5, 6)
Concatenate Tuple : (1, 2, 3, 4, 5, 6)

In [35]:
# Repeat a tuple three times.
original_tup = (1,2,3)
repeated_tup = original_tup * 3
print("Original Tuple:",original_tup)
print("Repeated Tuple:",repeated_tup)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
# Check if a tuple is empty.
my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [1]:
# Create a nested tuple.
nested_tuple = ((1,2,3),('a','b','c'),(True, False))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [6]:
# Access the first element of a nested tuple.
nested_tuple = ((1,2,3),('a','b','c'),(True, False))
print("First element of the nasted tuple:",nested_tuple[0][0])

First element of the nasted tuple: 1

In [10]:
# Create a tuple with a single element.
single_element = (42,)
print(single_element)

(42,)

In [14]:
# Compare two tuples.
tuple1 = (1,2,3)
tuple2 = (1,2,5)

if tuple1 == tuple2:
    print("Tuple are equal ")
else:
    print("Tuple are not equal")

if tuple1 > tuple2:
    print("First Tuple is greater ")
else:
    print("First Tuple is not greater ")

if tuple2 < tuple1:
    print("Second tuple is less")
else:
    print("Second tuple is not less")

Tuple are not equal
First Tuple is not greater
Second tuple is not less

In [4]:
# Delete a tuple.
tup = (1,2,3)
print(tup)
del tup

(1, 2, 3)

In [13]:
# Slice a tuple.
my_tuple = (1,2,3,4,5,6)
sliced_tuple = my_tuple[1:4]
print("original tuple :",my_tuple)
print("sliced tuple : ",sliced_tuple)

original tuple : (1, 2, 3, 4, 5, 6)
sliced tuple :  (2, 3, 4)

In [20]:
# Find the maximum value in a tuple.
my_tuple = (1,2,3,4,5,6,7,8,9)
print("Original Tuple:",my_tuple)
print("Maximum Value:",max(my_tuple))

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Maximum Value: 9

In [23]:
# Find the minimum value in a tuple.
my_tuple = ('apple', 'banana', 'orange', 'kiwi')
min_value = min(my_tuple, key = len)
print("Original Tuple:",my_tuple)
print("Maximum Value:",min_value)

Original Tuple: ('apple', 'banana', 'orange', 'kiwi')
Maximum Value: kiwi

In [24]:
# Convert a string to a tuple of characters.
my_string = "hello, wolrd"
tuple_of_characters = tuple(my_string)
print("Original string :",my_string)
print("tuple of charaters : ",tuple_of_characters)

Original string : hello, wolrd
tuple of charaters :  ('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'l', 'r', 'd')

In [10]:
# # Convert a tuple of characters to a string.
my_tuple = ('H','e','l','l','o',' ','w','o','r','l','d','!')
print(type(my_tuple))
string = ''.join(my_tuple)
print("string of characters:",string)

<class 'tuple'>
string of characters: Hello world!

In [11]:
# Create a tuple from multiple data types.
my_tuple = (1,'hello',3.14,True)
print(my_tuple)

(1, 'hello', 3.14, True)

In [16]:
# Check if two tuples are identical.
tuple1 = (1, 'hello', 3.14)
tuple2 = (1, 'hello', 3.14)
if tuple1 == tuple2:
    print("The tuples refers to the same objects.")
else:
    print("The tuples not refers to the same obects.")

The tuples refers to the same objects.

In [1]:
# uesr input in tuple .
n = int(input("Enter the number of element: "))
my_set = set()
for x in range(n):
    values = input("Enter the values :")
    my_set.add(values)
my_tuple = tuple(my_set)
print(my_tuple)

Enter the number of element: 5
Enter the values :1
Enter the values :2
Enter the values :3
Enter the values :4
Enter the values :5
('1', '4', '2', '5', '3')

In [6]:
# Sort the elements of a tuple.
n = int(input("Enter the number of element: "))
my_set = set()
for x in range(n):
    values = input("Enter the values :")
    my_set.add(values)
my_tuple = tuple(my_set)
print("Original Tuple:",my_tuple)
sort_tuple = tuple(sorted(my_tuple))
print("Sorted Tuple (ascending):",sort_tuple)

Enter the number of element: 5
Enter the values :4
Enter the values :2
Enter the values :8
Enter the values :1
Enter the values :5
Original Tuple: ('1', '4', '8', '5', '2')
Sorted Tuple (ascending): ('1', '2', '4', '5', '8')

In [12]:
# Convert a tuple of integers to a tuple of strings.
original_tuple = (1,2,3,4,5)

string_tuple = tuple(str(i) for i in original_tuple)
print("Original tuple:",original_tuple)
print("Convert tuples in sting:",string_tuple)

Original tuple: (1, 2, 3, 4, 5)
Convert tuples in sting: ('1', '2', '3', '4', '5')

In [14]:
# Convert a tuple of strings to a tuple of integers.
original_tuple = ('1','2','3','4','5')

string_tuple = tuple(int(i) for i in original_tuple)
print("Original tuple:",original_tuple)
print("Convert tuples in integers:",string_tuple)

Original tuple: ('1', '2', '3', '4', '5')
Convert tuples in integers: (1, 2, 3, 4, 5)

In [15]:
# Merge two tuples.
tuple1 = (1,2,3)
tuple2 = ('a','b','c')
merge_tuple = tuple1 + tuple2
print("merged tuple:",merge_tuple)

merged tuple: (1, 2, 3, 'a', 'b', 'c')

In [2]:
# Create a tuple of the first 5 prime numbers.

def is_Prime(num):
    if num <= 1:
        return False
    for i in range(2,int(num**0.5) +1 ):
            return False
    return True

def n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_Prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

five_number = n_primes(5)
print("The first 5 prime number are :",five_number)

The first 5 prime number are : (2, 3, 5, 7, 11)

In [1]:
# Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flat_list = []
    for x in nested_tuple:
        if isinstance(x, tuple):
            flat_list.extend(flatten_tuple(x))
        else:
            flat_list.append(x)
    return tuple(flat_list)

nested_tuple = (1,(2,3),(4,(5,6),7),8)
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
# Check if a tuple is a palindrome.
tup = eval(input("Enter the value :"))
new_tuple = tup[::-1]
if tup == new_tuple:
    print("The tuple is palindrome.", new_tuple)
else:
    print("The tuple is  not palindrome.",new_tuple)

Enter the value :1,2,3,2,1
The tuple is palindrome. (1, 2, 3, 2, 1)

In [5]:
# Create a tuple of squares of numbers from 1 to 5.
tuple_list = tuple(x*x for x in range(1,5+1))
print(tuple_list)

(1, 4, 9, 16, 25)

In [2]:
# Filter out all even numbers from a tuple.
original_tuple = eval(input("Enter the input :"))
filter_out = tuple(x for x in original_tuple if x%2 == 0)
print("Original tuple :",original_tuple)
print("Filter out off all even number :",filter_out)

Enter the input :(1,2,3,4,5,6,7,8,9,10)
Original tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filter out off all even number : (2, 4, 6, 8, 10)

In [5]:
# Multiply all elements in a tuple by 2.
tup1 = eval(input("Enter the tuple :"))
mul_tup = tuple(x*2 for x in tup1)
print("Before multiply tuple :",tup1)
print("After multiply tuple :",mul_tup)

Enter the tuple :(1,2,3,4,5)
Before multiply tuple : (1, 2, 3, 4, 5)
After multiply tuple : (2, 4, 6, 8, 10)

In [9]:
# Create a tuple of random numbers.
import random
n = int(input("Enter the number :"))
tup = tuple()
for x in range(n):
    tup = tup+(random.randint(1,100),)
print(tup)

Enter the number :10
(46, 86, 49, 8, 49, 13, 75, 64, 84, 71)

In [1]:
# Check if a tuple is sorted.
tup = eval(input("Enter the tuple`s values :"))
tup1 = (tuple(sorted(tup)))
tup2 = tuple(sorted(tup, reverse=True))
if tup == tup1 or tup == tup2:
    print("The tuple is sorted .")
else:
    print("The tuple is not sorted .")

Enter the tuple`s values :(1,2,3,4,5)
The tuple is sorted .

In [2]:
# Create a tuple of the first 5 Fibonacci numbers
t = (0,1)
for i in range(5-2):
    t = t+(t[i]+t[i+1],)
print("tuple of the first 5 Fibonacci numbers:",t)

tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [3]:
# Rotate a tuple to the left by `n` positions.
tup = eval(input("Enter the tuple value`s :"))
l = list(tup)
n = int(input("Enter the number the number of possition which want left shift:"))
for i in range(n):
    for j in range(len(l)-1,0,-1):
        temp = l[0]
        l[0] = l[j]
        l[j] = temp
tup1 = tuple(l)
print("Input tuple :",tup)
print("Output tuple :",tup1)

Enter the tuple value`s :2,3,4,5,6,7,8,9,0
Enter the number the number of possition which want left shift:4
Input tuple : (2, 3, 4, 5, 6, 7, 8, 9, 0)
Output tuple : (6, 7, 8, 9, 0, 2, 3, 4, 5)

In [2]:
# Rotate a tuple to the right by `n` positions.
tup = eval(input("Enter the tuple value`s :"))
l = list(tup)
n = int(input("Enter the number the number of possition which want left shift:"))
for i in range(n):
    for j in range(len(l)):
        temp = l[0]
        l[0] = l[j]
        l[j] = temp
tup1 = tuple(l)
print("Input tuple :",tup)
print("Output tuple :",tup1)

Enter the tuple value`s :2,3,4,5,6,7,8,9,0
Enter the number the number of possition which want left shift:4
Input tuple : (2, 3, 4, 5, 6, 7, 8, 9, 0)
Output tuple : (7, 8, 9, 0, 2, 3, 4, 5, 6)

In [5]:
# Create a tuple from user input.
n = int(input("Enter the number of element:"))
tup = tuple()
for _ in range(n):
    value = input("Enter the values is :")
    if value.isdigit():
        tup = tup + (int(value),)
    else:
        tup = tup + (value,)
print("Tuple is :",tup)

Enter the number of element:5
Enter the values is :1
Enter the values is :2
Enter the values is :DBMS
Enter the values is :JAVA
Enter the values is :PYTHON
Tuple is : (1, 2, 'DBMS', 'JAVA', 'PYTHON')

In [11]:
# Swap two elements in a tuple.
tup = eval(input("Enter the element of tuple :"))
l = list(tup)
a = int(input("Enter the starting index:"))
b = int(input("Enter the ending index :"))
if 0<=a<len(l) or 0<=b<=len(l):
    temp = l[a]
    l[a] = l[b]
    l[b] = temp
else:
    print("Index out of range :")
tup1 = tuple(l)    
print("Input tuple :",tup)
print("Output tuple :",tup1)

Enter the element of tuple :1,2,3,4,5,6,7,8,9
Enter the starting index:2
Enter the ending index :7
Input tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9)
Output tuple : (1, 2, 8, 4, 5, 6, 7, 3, 9)