In [5]:
#star print
n = int(input("Enter the row number :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

Enter the row number :5
*
* *
* * *
* * * *
* * * * *

In [9]:
n = int(input("Enter the row number :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

Enter the row number :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n = int(input("Enter the row number :"))
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("*",end=' ')
    print()

Enter the row number :5
* * * * *
* * * *
* * *
* *
*

In [16]:
n = int(input("Enter the row number :"))
for i in range(n+2,0,-1):
    for j in range(1,i-1):
        print(j,end=' ')
    print()

Enter the row number :5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [17]:
n = int(input("Enter the row number :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j%2,end=' ')
    print()

Enter the row number :5
1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [21]:
n = int(input("Enter the row number :"))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=' ')
        k=k+1
    print()

Enter the row number :5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [22]:
n = int(input("Enter the row number :"))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k%2,end=' ')
        k=k+1
    print()

Enter the row number :5
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [20]:
n = int(input("Enter the row number :"))
k=n-1
for i in range(0,n):
    for j in range(0,k):
        print(end=' ')
    k=k-1
    for j in range(0,i+1):
        print("*",end=' ')
    print()

Enter the row number :5
    *
   * *
  * * *
 * * * *
* * * * *